{{ $pages := .pages }}
{{ $current := .current }}
{{ if gt (len $pages) 0 }}
  <ul class="nav-tree">
    {{ range $pages }}
      {{ $children := .Pages.ByWeight }}
      {{ $isCurrent := eq .RelPermalink $current.RelPermalink }}
      {{ $isAncestor := and (ne .RelPermalink site.Home.RelPermalink) (.IsAncestor $current) }}
      {{ $classes := slice }}
      {{ if $isCurrent }}{{ $classes = $classes | append "is-current" }}{{ end }}
      {{ if and (not $isCurrent) $isAncestor }}{{ $classes = $classes | append "is-ancestor" }}{{ end }}
      {{ if $children }}{{ $classes = $classes | append "has-children" }}{{ end }}
      <li{{ with $classes }} class="{{ delimit . " " }}"{{ end }}>
        <a href="{{ .RelPermalink }}"{{ if $isCurrent }} aria-current="page"{{ end }}>
          <span>{{ .LinkTitle }}</span>
        </a>
        {{ with $children }}
          {{ partial "nav-tree.html" (dict "pages" . "current" $current) }}
        {{ end }}
      </li>
    {{ end }}
  </ul>
{{ end }}
